@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1f2937;
  overflow-x: hidden;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}



.scroll-text {
  display: flex;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 3s linear infinite;
  -webkit-animation: my-animation 3s linear infinite;
  animation: my-animation 3s linear infinite;
}

@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100px); }
  to { -moz-transform: translateX(-100px); }
}

@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100px); }
  to { -webkit-transform: translateX(-100px); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100px);
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  to {
    -moz-transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
} 

